i {
    color:blue;
    }
    
table, th, td {
  border: 2px solid red;
  border-collapse: collapse;
}


th{
  background-color: Aquamarine;
}
    
img {
  width: 20%;
  height: auto;
}
