i {
    color:blue;
    }
    
table, th, td {
  border: 2px solid DarkSlateGray;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}


th{
  background-color: Aquamarine;
}
    
img {
  width: 20%;
  height: auto;
}
